[data-md-theme] {
  --md-sys-color-primary-rgb-dark: 255, 179, 172;
  --md-sys-color-primary-dark: #ffb3ac;
  --md-sys-color-on-primary-rgb-dark: 95, 20, 19;
  --md-sys-color-on-primary-dark: #5f1413;
  --md-sys-color-primary-container-rgb-dark: 126, 43, 39;
  --md-sys-color-primary-container-dark: #7e2b27;
  --md-sys-color-on-primary-container-rgb-dark: 255, 218, 214;
  --md-sys-color-on-primary-container-dark: #ffdad6;
  --md-sys-color-secondary-rgb-dark: 231, 189, 184;
  --md-sys-color-secondary-dark: #e7bdb8;
  --md-sys-color-on-secondary-rgb-dark: 68, 41, 39;
  --md-sys-color-on-secondary-dark: #442927;
  --md-sys-color-secondary-container-rgb-dark: 93, 63, 60;
  --md-sys-color-secondary-container-dark: #5d3f3c;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 218, 214;
  --md-sys-color-on-secondary-container-dark: #ffdad6;
  --md-sys-color-tertiary-rgb-dark: 225, 195, 140;
  --md-sys-color-tertiary-dark: #e1c38c;
  --md-sys-color-on-tertiary-rgb-dark: 64, 45, 4;
  --md-sys-color-on-tertiary-dark: #402d04;
  --md-sys-color-tertiary-container-rgb-dark: 88, 68, 25;
  --md-sys-color-tertiary-container-dark: #584419;
  --md-sys-color-on-tertiary-container-rgb-dark: 254, 222, 166;
  --md-sys-color-on-tertiary-container-dark: #fedea6;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-container-dark: #ffb4ab;
  --md-sys-color-background-rgb-dark: 32, 26, 25;
  --md-sys-color-background-dark: #201a19;
  --md-sys-color-on-background-rgb-dark: 237, 224, 222;
  --md-sys-color-on-background-dark: #ede0de;
  --md-sys-color-surface-rgb-dark: 32, 26, 25;
  --md-sys-color-surface-dark: #201a19;
  --md-sys-color-on-surface-rgb-dark: 237, 224, 222;
  --md-sys-color-on-surface-dark: #ede0de;
  --md-sys-color-surface-variant-rgb-dark: 83, 67, 66;
  --md-sys-color-surface-variant-dark: #534342;
  --md-sys-color-on-surface-variant-rgb-dark: 216, 194, 191;
  --md-sys-color-on-surface-variant-dark: #d8c2bf;
  --md-sys-color-outline-rgb-dark: 160, 140, 138;
  --md-sys-color-outline-dark: #a08c8a;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-inverse-surface-rgb-dark: 237, 224, 222;
  --md-sys-color-inverse-surface-dark: #ede0de;
  --md-sys-color-inverse-on-surface-rgb-dark: 54, 47, 46;
  --md-sys-color-inverse-on-surface-dark: #362f2e;
  --md-sys-color-inverse-primary-rgb-dark: 156, 65, 60;
  --md-sys-color-inverse-primary-dark: #9c413c;
  --md-sys-color-primary-rgb-light: 156, 65, 60;
  --md-sys-color-primary-light: #9c413c;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-rgb-light: 255, 218, 214;
  --md-sys-color-primary-container-light: #ffdad6;
  --md-sys-color-on-primary-container-rgb-light: 65, 0, 3;
  --md-sys-color-on-primary-container-light: #410003;
  --md-sys-color-secondary-rgb-light: 119, 86, 83;
  --md-sys-color-secondary-light: #775653;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-rgb-light: 255, 218, 214;
  --md-sys-color-secondary-container-light: #ffdad6;
  --md-sys-color-on-secondary-container-rgb-light: 44, 21, 19;
  --md-sys-color-on-secondary-container-light: #2c1513;
  --md-sys-color-tertiary-rgb-light: 114, 91, 46;
  --md-sys-color-tertiary-light: #725b2e;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-rgb-light: 254, 222, 166;
  --md-sys-color-tertiary-container-light: #fedea6;
  --md-sys-color-on-tertiary-container-rgb-light: 38, 25, 0;
  --md-sys-color-on-tertiary-container-light: #261900;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-rgb-light: 32, 26, 25;
  --md-sys-color-on-background-light: #201a19;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-rgb-light: 32, 26, 25;
  --md-sys-color-on-surface-light: #201a19;
  --md-sys-color-surface-variant-rgb-light: 245, 221, 219;
  --md-sys-color-surface-variant-light: #f5dddb;
  --md-sys-color-on-surface-variant-rgb-light: 83, 67, 66;
  --md-sys-color-on-surface-variant-light: #534342;
  --md-sys-color-outline-rgb-light: 133, 115, 113;
  --md-sys-color-outline-light: #857371;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-inverse-surface-rgb-light: 54, 47, 46;
  --md-sys-color-inverse-surface-light: #362f2e;
  --md-sys-color-inverse-on-surface-rgb-light: 251, 238, 236;
  --md-sys-color-inverse-on-surface-light: #fbeeec;
  --md-sys-color-inverse-primary-rgb-light: 255, 179, 172;
  --md-sys-color-inverse-primary-light: #ffb3ac;

  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Poppins;
  --md-sys-typescale-label-small-font-weight: 500;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  --md-sys-typescale-label-small-line-height: 16px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Poppins;
  --md-sys-typescale-label-medium-font-weight: 500;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  --md-sys-typescale-label-medium-line-height: 16px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Poppins;
  --md-sys-typescale-label-large-font-weight: 500;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  --md-sys-typescale-label-large-line-height: 20px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Poppins;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  --md-sys-typescale-body-small-line-height: 16px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Poppins;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  --md-sys-typescale-body-medium-line-height: 20px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Poppins;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  --md-sys-typescale-body-large-line-height: 24px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Poppins;
  --md-sys-typescale-headline-small-font-weight: 400;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  --md-sys-typescale-headline-small-line-height: 32px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Poppins;
  --md-sys-typescale-headline-medium-font-weight: 400;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Poppins;
  --md-sys-typescale-headline-large-font-weight: 400;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  --md-sys-typescale-headline-large-line-height: 40px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Poppins;
  --md-sys-typescale-display-small-font-weight: 400;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  --md-sys-typescale-display-small-line-height: 44px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Poppins;
  --md-sys-typescale-display-medium-font-weight: 400;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  --md-sys-typescale-display-medium-line-height: 52px;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Poppins;
  --md-sys-typescale-display-large-font-weight: 400;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  --md-sys-typescale-display-large-line-height: 64px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Poppins;
  --md-sys-typescale-title-small-font-weight: 500;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
  --md-sys-typescale-title-small-line-height: 20px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Poppins;
  --md-sys-typescale-title-medium-font-weight: 500;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  --md-sys-typescale-title-medium-line-height: 24px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Poppins;
  --md-sys-typescale-title-large-font-weight: 400;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  --md-sys-typescale-title-large-line-height: 28px;
}
